.navbar-brand{
    color: grey;
}
.nav-link:hover{
    color: blue;
}

body{
    font-family: Calibri;
}

.input-group{
    width: 250px;
}
.navbar1{
    background-color: #333333;
    color: white;
}


